iframe {
 border: solid;
 border-radius: 10px 10px 10px 10px;
} 
body {
 background-color: lightblue;
}
h1 {
 color: black;
 border: solid blue;
 border-radius: 20px 20px;
}
img {
 border: solid red;
 border-radius: 20px 20px 20px 20px;
 position: relative;
transform: translateY: 0px;
 transform: translateX: 0px;
 transform: translateX: 30px;
 transform: translateY: 20px;
 transform: translateX: -30px;
 transform: translateY: -20px;
 transform: translateX: 0px;
 transform: translateY: 0px;
}
p {
color: black;
}
h6 {
 color: black;
}
details{
position: center;
background-color: blue;
border: solid blue;
border-radius: 20px 20px;
color: white;
transform: translateY: 0px;
 transform: translateX: 0px;
 transform: translateX: 30px;
 transform: translateY: 20px;
 transform: translateX: -30px;
 transform: translateY: -20px;
 transform: translateX: 0px;
 transform: translateY: 0px;
}
button{
 background-color: red;
 border: solid red;
 border-radius: 50px 50px;
 color: white;
 position: center;
}
input{
border: solid black;
border-radius: 50px 50px;
}
